@import "./global.css";

/* 검색바 간격 조정 */
.find-search-bar-form {
    padding: 0 25px;
}

.find-search-bar-form div{
    width: 100%;
}

.find-search-bar {
    margin-top: 20px;
    background-color: var(--darkblack);
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.find-search-bar:focus {
    background-color: rgb(94, 48, 137);
}

.find-search-bar-form span{
    position: absolute;
    font: 1rem;
    bottom: 0.5rem;
    right: 15px;
}

.best-movie__img-container {
    padding: 0 20px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.best-movie__img {
    width: 90%;
    height: auto;
    border-radius: 25px;
}

.best-movie__img-container span {
    position: absolute;
    background-color: purple;
    border-radius: 50%;
    left: calc(65% + 5rem);
    font-size: 3rem;
}

.best-movie__title {
    padding-left: 25px;
}

.best-movie__promotion-text {
    font-size: 15px;
}

.best-movie__movie-name {
    color:darkorchid;
    font-size: 30px;
    font-weight: bold;
}

.movie-recommendation {
    margin: 25px 0;
    padding: 0 25px;
}

.movie-recommendation__imges {
    margin-top: 5px;
    list-style: none;
    display: flex;
    overflow-x: auto;
}

.movie-recommendation__imges li {
    margin-left: 5px;
}

.movie-recommendation__imges img {
    width: 150px;
    border-radius: 15px;
}

.navigation-bar {
    background-color: rgba(255, 255, 255, 0.5);
    width: 8rem;
    height: 3rem;
    border-radius: 0 15px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.navigation-bar span {
    color: black;
    font-size: 1.5rem;
}